#container {
    border-radius: 10px;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
    font-family: "roboto", sans-serif;
    margin: auto;
    background-color: #aaa;
}

.result {
    border-radius: 10px;
    width: 226px;
    height: 90px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    background-color: #eee;
    padding: 0px 20px 20px 20px;
}

.operation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
}

button {
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    padding: 0px;
    font-size: x-large;
    align-items:center;
    justify-content: space-evenly;
    background-color: #eee;
}

.clickable:hover {
    cursor: pointer;
}

.clear {
    background-color: #faa;
}

.delete {
    background-color: #aaf;
}

.top {
    width: 130px;
    height: 60px;
    font-size: x-large;
}